body { 
	font-family: Gentium Basic;
    color: black;
    background-color: white;
    margin: 10px;
}

h1 { 
	font-size: 26px;
}

p { 
	font-size: 18px;
    width:99%;
}

INPUT{
    margin: 5px;
    display: block;
    font-size: 15px;
}

form{
    display: block;
    margin:20px;
    width: 250px;
}

img{
    margin:auto;
    width: 99%;
}

.bleu{
    background-color: blue;
}

.vert{
    background-color: green;
}

.rouge{
    background-color: red;
}


/*
@media screen (max-width: 1500px) & (min-width: 1024px){
    
}
*/

